@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 25% 25%;
    --foreground: 210 40% 98%;
    --card: 180 25% 28%;
    --card-foreground: 210 40% 98%;
    --popover: 180 25% 28%;
    --popover-foreground: 210 40% 98%;
    --primary: 183 100% 74%;
    --primary-foreground: 180 25% 15%;
    --secondary: 180 25% 35%;
    --secondary-foreground: 210 40% 98%;
    --muted: 180 25% 35%;
    --muted-foreground: 210 40% 80%;
    --accent: 197 71% 73%;
    --accent-foreground: 180 25% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 180 25% 35%;
    --input: 180 25% 35%;
    --ring: 183 100% 74%;
    --radius: 0.5rem;
    --chart-1: 183 100% 74%;
    --chart-2: 197 71% 73%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
